<!DOCTYPE html>
<head>
    <title>Otter Report</title>
    <style>
        body {
            background-color: linen;
        }
        
        h1 {
            color: rgb(7, 27, 116);
            margin-left: 60px;
        }
        
        h2 {
            color: rgb(31, 110, 134);
            margin-left: 60px;
        }

        img {
            display: block;
        }

        .main-graph {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 80%;
        }
        </style>
</head>
<body>
    <h1>Otter Report</h1>
    <hr/>
    <h2>Computational Flow Graph</h2>
    <img class="main-graph" src="$GRAPH_SVG">
    <h2>Task Hierarchy</h2>
    <img class="main-graph" src="$TREE_SVG">
</body>
